@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf');
}

*,
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #f1f5f9;
}

body {
  text-align: center;
  background-color: #18202f;
}

h1 {
  font-weight: bold;
  margin-top: 4rem;
}
